<h1>Stupid coaching</h1>

<!-- <form class="form-inline" action="/answer" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
 -->

<form class="form-inline" action="/answer" method="get">
  <div class="form-group mb-2 pt-1 pb-1">
    <input type="text" name="user_input" placeholder="Type your question">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask !</button>
</form>
